# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore ML model files and large datasets
*.joblib
*.json

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment files
.env
backend/.env

# Ignore editor/project specific files (optional)
*.vscode/
*.idea/
*.DS_Store
